.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardImage {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.cardContent {
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 16px;
  display: flex;
  padding: 16px;
  justify-content: flex-start;
}
.title {
  font-size: 24px;
}
.description {
  margin-top: 4px;
  font-size: 14px;
}
.cardButton {
  margin-top: 8px;
  width: 20%;
  padding: 4px;
  background-color: dimgray;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 16px;
  align-self: flex-end;
}
