.footerContainer {
  display: flex;
  background: linear-gradient(90deg, #221e1c, #3c3936);
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 48px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
